<h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>inrtoduction</th>
          <th><%= user.introduction %></th>
        </tr>
        <tr><th>follows</th></tr>
        <tr><th>followers</th></tr>
      </tbody>
    </table>

     <div class="row">
        <%= link_to "", edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
    </div>

    <!--貼り付け用-->
  <!-- render 'users/info', user: @user -->